<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<!-- 


3.- Alarma de robo:
Ingresar un usuario. (registrado en BD).
La aplicación tendrá un único botón, que ocupe toda la pantalla (TODA LA PANTALLA) y que permitirá
activar y desactivar el detector de robo.
Una vez activado, (asumiendo que el dispositivo está apoyado horizontalmente sobre una mesa) se va a
disparar la alarma:
● Al cambiar la posición, a izquierda o a derecha, emitirá un sonido distinto para cada lado.
● Al ponerlo vertical, se encenderá la luz (por 5 segundos) y al mismo tiempo emitirá un sonido.
● Al ponerlo horizontal, vibrará (por 5 segundos) y al mismo tiempo emitirá otro sonido.
Para desactivar la alarma se pedirá el ingreso de una contraseña que deberá coincidir con la contraseña
utilizada en el ingreso. Si no coincide, emitirá sonidos, vibrará y se encenderá la luz. Todo junto por 5
segundos.
+ Grabar los sonidos.
Ejemplo: al moverlo hacia la izquierda, “¡Están hurtando el dispositivo!”, al moverlo hacia la
derecha “¡Epa! ¿Qué estás por hacer?”.
-->