<ion-content class="fondo-con-imagen">
  <div class="contenedor-login">
    <div class="tarjeta-login">

      <!-- Título -->
      <h2 class="titulo-bienvenido">BIENVENIDO</h2>

      <!-- Imagen central -->
      <img src="../../../assets/login.png" alt="Login" class="imagen-login" />

      <!-- Formulario -->
      <form [formGroup]="form" (ngSubmit)="login()">
        <ion-item lines="none" class="item-input">
          <ion-input placeholder="Correo" type="email" formControlName="correo"
            (ionFocus)="moverArriba()" (ionBlur)="moverAbajo()">
          </ion-input>
        </ion-item>
        <ion-note *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched" color="danger">
          Ingrese un correo válido.
        </ion-note>

        <ion-item lines="none" class="item-input">
          <ion-input placeholder="Contraseña" type="password" formControlName="clave"
            (ionFocus)="moverArriba()" (ionBlur)="moverAbajo()">
          </ion-input>
        </ion-item>
        <ion-note *ngIf="form.get('clave')?.invalid && form.get('clave')?.touched" color="danger">
          Mínimo 6 caracteres.
        </ion-note>

        <ion-button expand="block" shape="round" class="boton-ingresar" type="submit" [disabled]="enProceso">
          <img src="../../../assets/aceptar.png" alt="Ingresar" class="icono-boton" />
        </ion-button>
      </form>

      <!-- Selección de tipo de usuario -->
      <div class="registro-usuarios">
        <ion-radio-group [(ngModel)]="usuarioTipo" >
          <ion-item lines="full">
            <img src="../../../assets/admin.png" alt="Admin" class="icono-radio" slot="start" />
            <ion-label>Admin</ion-label>
            <ion-radio value="2" slot="end" (click)="seleccionarUsuario(1)"></ion-radio>
          </ion-item>

          <ion-item lines="full">
            <img src="../../../assets/invitado.png" alt="Invitado" class="icono-radio" slot="start" />
            <ion-label>Invitado</ion-label>
            <ion-radio value="3" slot="end" (click)="seleccionarUsuario(3)"></ion-radio>
          </ion-item>

          <ion-item lines="full">
            <img src="../../../assets/usuario.png" alt="Usuario" class="icono-radio" slot="start" />
            <ion-label>Usuario</ion-label>
            <ion-radio value="1" slot="end" (click)="seleccionarUsuario(2)"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>

    </div>
  </div>
</ion-content>