#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-content {
  --background: none;
  background: url('../../assets/inicio-fondo.jpg') no-repeat center center / cover;
}

ion-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.4); // oscurece el fondo
  z-index: 0;
}

#container, ng-lottie {
  position: relative;
  z-index: 1;
}

ion-fab-button {
  background: red;
  box-shadow: 0px 4px 10px rgba(223, 0, 0, 2.4); 
  border-radius: 20px;
  overflow: visible;

  .imagen-icon-container {
    
    width: 100%;
    height: 100%;
    background-image: url('/assets/salir.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
  }
}

.alarma-control {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.input-clave {
  border-radius: 20px;
  --background: #fff;
  --color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}.estado-alarma {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 800;
  color: white;
  text-shadow: 0 0 6px rgba(255, 0, 0, 0.7), 0 0 12px rgba(255, 0, 0, 0.5);
  margin-top: 45px;
  margin-bottom: 16px;
}